body, html  {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #FFF;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    line-height: 22px;
    color: #444;
}
/* Opera Fix voor footer */
body:before {
	content:"";
	height:100%;
	float:left;
	width:0;
	margin-top:-32767px;/
}
a, a:hover, a:active, a:visited {
    text-decoration: none;
    color: #FFF;
}
h1 {
    padding: 15px 10px 10px;
    margin: 0 0 10px 0;
    border-bottom: 1px solid #DDD;
    color: tomato;
}
h2 {
    font-size: 18px;
    padding: 0 10px 5px 0;
    border-bottom: 1px solid #EEE;
}
h2.looks_like_h1 {
    padding: 0 10px 5px 10px;
    margin: 0 0 10px 0;
    border-bottom: 1px solid #DDD;
    color: tomato;
}
h3 {

}
h4 {
    margin: 0;
    padding: 0;
    color: coral;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 0.5px;
}
h5 {
    margin: 0;
    padding: 0;
    letter-spacing: 1px;
    padding-bottom: 5px;
    font-size: 14px;
}
.bold {
    font-weight: 800;
}
.uppercase {
    text-transform: uppercase;
}
.tomato {
    color: tomato;
}
.wrap {
    min-height: 100%;
}
.wrapper {
    width: 960px;
    margin: 0 auto;
}

textarea {
    font-family: 'Open Sans', sans-serif;
}

/* ------------------------------ *\
    HEADER AREA
\* ------------------------------ */

header {
    min-width: 1000px;
}

/* LOGIN MENU */
.menu_login {
    height: 30px;
    background-color: #444;
    font-size: 11px;
    letter-spacing: 0.8px;
}
.menu_login a {
    color: #DDD;
}
.menu_login a:hover {
    color: #FFF;
}
.left div {
    float: left;
    padding: 4px 10px 0px 0px;
}
.right div {
    float: right;
    padding: 4px 0px 0px 10px;
}
.EN, .NL, .right_item {
    display: inline-block;
    margin: 0;
}

/* MAIN MENU */
.menu_main {
    height: 115px;
    font-size: 14px;
    font-weight: 500;
    -webkit-box-shadow: 0 0 6px #666;
       -moz-box-shadow: 0 0 6px #666;
            box-shadow: 0 0 6px #666;
    z-index: 9999;
    position: relative;
}
.menu_main a {
    color: #999;
}
.menu_main a:hover {
    color: #555;
}
.logo_stagepeer {
    height: 95px;
    float: left;
    margin: 10px 0;
}
nav {
    float: right;
    margin: 20px 0;
}
.menu_item {
    height: 35px;
    display: inline-block;
    padding: 25px 0px 0px 60px;
}

/* SUB MENU */
.sub_menu {
    padding: 20px 0px;
    background-color: cornflowerblue;
    text-align: right;
    font-size: 10px;
    color: rgba(255, 255, 255, 0.3);
    letter-spacing: 0.8px;
}
.sub_menu_home {
    height: 4px;
    background-color: cornflowerblue;
}
.sub_menu .dash {
    padding: 0 15px;
}
.sub_menu a {
    color: #FFF;
    padding: 20px 0px;
}
.sub_menu a:hover {
    color: #FFF;
}

/* ------------------------------ *\
    SIDEBAR AREA
\* ------------------------------ */

sidebar {
    width: 290px;
    float: left;
    margin: 30px 0;
    text-align: center;
    color: lightsalmon;
}
.face {
    border-radius: 138px;
    border: 6px solid #FFF;
}
.nav_sidebar {
    width: 240px;
    margin: -50px auto 0 auto;
    padding: 75px 25px 25px 25px;
    background-color: tomato;
    text-align: left;
}
.sidebar_element_fist {
    padding: 0px 30px 15px;
    border-bottom: 1px solid coral;
    color: lightsalmon;
    text-align: center;
    letter-spacing: 0.5px;
}
.sidebar_element {
    padding: 15px 10px;
    display: block;
    border-bottom: 1px solid coral;
    color: #FFF;
    letter-spacing: 1px;
}
.sidebar_element i {
    padding-right: 10px;
}
.sidebar_element_last {
    margin: 10px 0px 20px;
    text-align: center;
    font-size: 10px;
    letter-spacing: 0.5px;
}
.sidebar_element_last a {
    color: lightsalmon;
}
.sidebar_element_last a:hover {
    color: #FFF;
}

/* ------------------------------ *\
    MAIN AREA
\* ------------------------------ */

main {
    padding: 30px 0 295px 0;
    overflow: auto;
}
main.no_top_padding {
    padding: 0 0 295px 0; 
}
main a, main a:active, main a:visited {
    color: #444;
}
main a:hover {
    color: coral;
}
.full {
    width: 920px;
    background-color: #FAFAFA;
    padding: 20px;
    margin-bottom: 30px;
}
main .back {
    margin-top: -12px;
    margin-bottom: 20px;
}
main .back a {
    font-size: 11px;
    color: #AAA;
    margin-top: -12px;
    margin-bottom: 20px;
}
main .back i {
    font-size: 10px;
    margin-right: 5px;
}
main .col_2 {
    width: 480px;
    float: left;
}


/* ------------------------------ *\
    FOOTER AREA
\* ------------------------------ */

footer {
    width: 100%;
    min-width: 1000px;
    height: 210px;
    background-color: cornflowerblue;
    padding: 30px 0 0 0;
    margin-top: -245px;
    position: relative;
    color: rgba(255, 255, 255, 0.6);
    font-size: 11px;
    line-height: 16px;
    clear: both;
}
.footer_left {
    width: 290px;
    float: left;
    padding-bottom: 10px;
}
.footer_logo {
    height: 75px;
    border: none;
}
.footer_nav {
    width: 610px;
    margin-left: 30px;
    float: left;
    padding-bottom: 10px;
    letter-spacing: 0.7px;
}
.footer_nav_col1, .footer_nav_col2, .footer_nav_col3 {
    float: left;
    width: 33%;
}
.footer_nav a {
    display: block;
    padding: 5px;
    color: rgba(255, 255, 255, 0.8);
}
.footer_nav a:hover {
    color: #FFF;
}
.footer_nav a i {
    color: rgba(255, 255, 255, 0.4);
}
.footer_copy {
    clear: both;
    padding: 1px 0;
    background-color: #444;
    color: #888;
    text-align: center;
}
.footer_copy a {
    color: #DDD;
}


/* ------------------------------ *\
    PAGES
\* ------------------------------ */
/* INDEX */
.search-area h3 {
    display: block;
    color: white;
    font-size: 30px;
    margin-top: 100px;
    padding: 0px;
    text-shadow: #444 0px 1px;
 }

.search-area {
    display: inline-block;
    background-image: url("../img/home.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 360px;
}
.search-area .search-bar {
    -webkit-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.1);
       -moz-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.1);
            box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    width: 630px;
    padding: 10px;
    font-size: 12px; 
    margin-top: -10px;
    background: rgba(255, 255, 255, 0.7);
}
.search-area p, .search-area .submit {
    display: inline;
    margin: 0 10px;
    color: tomato;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 800;
}
.search-area a {
    color: #444;
}
.search-area .search-bar input {
    background-color: #FFF;
}
.search-area .search-bar .filters {
    width: 111px;
    height: 20px;
    margin-right: 10px;
}
.search-area .search-bar .search {
    width: 620px;
    padding: 15px;
    height: 20px;
    margin: 5px;
    border: none;
}
.search-area .submit {
    width: 200px;
    padding: 10px;
    background-color: tomato;
    color: #FFF;
    border: none; 
    margin: 10px 0 0 450px;
    border-radius: 2px;
    letter-spacing: 1px;
    
}
.search-field {
    display: inline;
    color: #C0C0C0;
    border: none;
    -webkit-box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.2);
       -moz-box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.2);
            box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.2);
    width: 590px;
    padding: 10px 20px;
    font-size: 12px; 
    margin-top: -10px;
    background: rgba(255, 255, 255, 0.9);
}
.nieuwste_vac {
    padding: 60px 0;
}
.nieuwste_vac .third {
    width: 260px;
    height: 100px;
    float: left;
    margin: 20px 15px;
}
.columns {
    float: left;
    width: 230px;
    padding: 50px 0 0px 0;
}
.columns p {
    padding: 0 10px 5px 10px;
}
.col {
    margin-left: 135px;   
}

/* ZOEKRESULTATEN */
/* search bar */
main .searchbar {
    background: #F5F5F5;
    margin: 20px 0px 20px 0px;
    padding: 10px;
    
}
main .searchbar p {
    display: inline;
    margin-left: 10px;
}
main .searchbar a {
    color: #444;
}
main .searchbar .search, main .searchbar .filters {
    width: 222px;
    height: 20px;
    margin: 5px;
}
main .searchbar .tijd, main .searchbar .search {
    width: 750px;
    height: 20px;
    margin: 5px;
    padding: 12px;  
    border: none;
}

/* resultaten */
main .resultaten {
    width: 920px;
    float: left;
    margin-bottom: 10px;
    background: #FAFAFA;
    padding: 20px;
}
main .resultaten .info {
    color: #888;
    font-size: 11px;
    text-align: center;
    font-style: italic;
    letter-spacing: 1px;
}
main .resultaten .vac_mini{
    float: left;
    width: 410px;
    height: 100px;
    margin: 10px;
}
main .resultaten .vac_mini img{
    height: 100px;
    width: 100px;
    float: left;
    margin: 0 10px 0 0;
}
main .row_left .vacature .beschrijving, main .row_right .vacature .beschrijving {
    float: right;
    width: 300px;
    margin: 0 5px;
}
main .row_left .vacature .beschrijving p, main .row_right .vacature .beschrijving p {
    font-size: 10px;
    line-height: 16px;
    color: #444;
}

main .clear {
    clear: both;
}

/* DETAILPAGINA VACATURE */
.alg_informatie h4, .alg_informatie p {
    display: inline-block;
    width: 200px;
    margin: 0;
    padding: 0;
    font-size: 13px;
    vertical-align: text-top;
}
.alg_informatie p {
    width: 500px;
}
.alg_informatie h2 {
    margin-top: 0;
}
.alg_informatie img {
    background-size: 100%; 
    height: 130px;
    width: 130px;
    float: right;
    margin: 0 15px 0 0;
}
.beschrijving p {
    padding: 10px;
}

.reageren {
    width: 100%;
    padding: 10px 0;
    background-color: tomato;
    color: #FFF;
    font-weight: 600;
    letter-spacing: 1px;
    text-align: center;
    margin: 50px 0 0 0;
    text-transform: uppercase;
    
    
    
}
.back_zoekresultaten {
    padding-top: 6px;
}
.date_added {
    font-size: 10px;
    color: #AAA;
    letter-spacing: 0.5px;
    text-align: right;
    margin: -5px 0 20px 0;
    padding: 0;
}
/* BEHEER */
.beheer h1 {
    margin: 16px 0;
    color: #444;
    font-weight: bold;
    display: block;
    font-size: 2em;
    border: none;
}
.beheer h2 {
    padding: 0 10px 5px 10px;
    margin: 0 0 10px 0;
    border-bottom: 1px solid #DDD;
    color: tomato;
}
.beheer main {
    width: 640px;
    float: right;
    padding: 70px 0px 30px 30px;
}
.beheer main .full {
    width: 570px;
    background-color: #FAFAFA;
    padding: 20px;
    margin-bottom: 30px;
}
.beheer main .blok_left, main .blok_right {
    width: 250px;
    float: left;
    background-color: #FAFAFA;
    margin-bottom: 30px;
    padding: 20px;
}
.beheer main .blok_left {
    margin-right: 30px;
}
.blok_search form {
    padding: 0; 
    margin: 0;
}
.blok_search form p{
    width: 65px; 
    display: inline-block;
    margin: 0;
    padding: 0;
}
.blok_search form .search{
    width: 100%;
    margin-top: 15px;
}
.blok_search input{
    width: 80%;
    border: none;
    color: #333;
    padding: 6px; 
    margin-bottom: 15px;
}
.blok_search .filters {
    width: 123px;
}
.blok_search .omgeving {
    width: 65px;
}
.blok_search .periode {
    width: 52px;
    margin-left: 10px;
}
.blok_search .studie {
    width: 45px;
    margin-left: 10px;
}
.blok_search input#submit {
    width: 100%;
    margin: 10px 0 0 0;
    background-color: tomato;
    color: #FFF;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 12px;
}
.info {
    color: #888;
    font-size: 11px;
    text-align: left;
    font-style: italic;
    letter-spacing: 1px;
    padding: 0 15px;
}


/* EDIT PROFILE */
main .edit_profile {
    display: inline-block;
}
.mededeling {
    color: cornflowerblue;
    font-style: italic;
    text-align: center;
    letter-spacing: 1px;
    font-size: 14px;
}
main a.openbare_profiel, main a.openbare_profiel:active, main a.openbare_profiel:visited {
    margin-left: 10px;
    background-color: lightsalmon;
    color: #fff;
    padding: 4px 10px;
    text-transform: uppercase;
    border-radius: 50px;  
    margin-left: 280px;
}
main a.openbare_profiel:hover {
    background-color: tomato;
    color: #fff;
}

/* EDIT PROFILE - Algemene Informatie */
.edit_face, .edit_name, .edit_bedrijf, .edit_email, .edit_phone, .edit_location, .edit_studie, .edit_kvk, .toevoegen {
    margin: 10px 0;
}
.edit_face h4, .edit_face p, .edit_name h4, .edit_bedrijf h4, .edit_email h4, .edit_phone h4, .edit_location h4, .edit_studie h4, .edit_kvk h4, .toevoegen h4 {
    display: inline-block;
    width: 150px;
}
.edit_name p, .edit_bedrijf p, .edit_email p, .edit_phone p, .edit_location p, .edit_studie p, .edit_kvk p{
    display: inline-block;
    width: 200px;
    margin: 0px;
}
.edit_face p {
    color: lightsalmon;
    font-style: italic;
    letter-spacing: 0.5;
}
.preview_face {
    vertical-align: text-top;
    margin-left: 3px;
    width: 100px;
    height: 100px;
}
.edit_face input, .edit_name input, .edit_bedrijf input, .edit_email input, .edit_phone input, .edit_location input, .edit_studie input, .edit_kvk input, .toevoegen input {
    width: 400px;
    padding: 5px;
}
.edit_name input {
    width: 199px;
}
.toevoegen textarea {
    width: 400px;
    height: 100px;
    padding: 5px;
    vertical-align: text-top;
}
#samenvatting {
    width: 550px;
    height: 150px;
    padding: 5px;
}
#opslaan {
    margin-left: 480px;
    background-color: tomato;
    color: white;
    padding: 10px;
    text-transform: uppercase;
    border-radius: 3px;
    border: none;
    margin-top: 20px;
}

/* EDIT PROFILE - Samenvatting */


/* EDIT PROFILE - Jouw Skills & Jouw Talen */
.uitleg {
    color: #888;
    font-size: 11px;
    text-align: right;
    font-style: italic;
}
.skill, .taal {
    display: inline-block;
    padding: 3px 15px 3px 15px;
    background-color: F0F0F0;
    font-weight: 600;
    color: #666;
    margin: 8px;
}
.skill p, .taal p {
    display: inline-block;
    padding-right: 10px;
}
.skill .fa-star {
    color: gold;
}
.skill .fa-star-o {
    color: #BBB;
}
.add {
    display: inline-block;
    padding: 8px 15px 8px 15px;
    background-color: F0F0F0;
    font-weight: 600;
    color: #666;
    margin: 8px;
}
.delete_skill, .delete_taal {
    width: 20px;
    height: 16px;
    background-color: tomato;
    border-radius: 10px;
    text-align: center;
    color: #fff;
    padding-top: 4px;
    opacity: 0.6;
    float: right;
    margin-right: -16px;
    margin-top: -12px;
}
.delete_skill:hover, .delete_taal:hover {
    opacity: 1;    
} 
.delete_cv {
    color: #666;
    float: right;
    font-size: 20px;
}
.delete_cv:hover {
    color: tomato;
}
.vaardigheid {
    display: inline-block;
    vertical-align: text-top;
}
.vaardigheid input {
    width: 10px;
}
.vaardigheid .fa-star {
    color: gold;
}
.vaardigheid .fa-star-o {
    color: #BBB;
}


/* EDIT PROFILE - Jouw Diploma's & Jouw Werkervaring & Jouw Opledingen en Cursussen */

.ervaring h4, .studie h4, .diploma h4 {
    color: coral;
    margin-bottom: 4px;
}
.ervaring .ber_mini_info, .studie .ber_mini_info, .diploma .ber_mini_info {
    font-size: 10px;
    margin-bottom: 4px;
}
.ervaring p, .studie p, .diploma p {
    padding: 0;
    margin: 0;
}

/* VACATURE TOEVOEGEN */
.vac_toevoegen h4 {
    display: inline-block;
    width: 250px;
    margin-bottom: 10px;
}
.vac_toevoegen .info {
    text-align: right;
    margin-bottom: -25px;
}
.vac_toevoegen input, .vac_toevoegen select {
    display: inline-block;
    width: 250px;
}
.vac_toevoegen input#duur, .vac_toevoegen input#logo,
.vac_toevoegen input#checkbox {
		width: 10px;	
}
.vac_toevoegen #duur_tag, .vac_toevoegen #logo_tag, .vac_toevoegen #checkbox_tag {
		margin-right: 20px;	
} 
.vac_toevoegen .studierichtingen {
    display: inline-block;
    
    vertical-align: text-top;
}
.vac_toevoegen input#submit {
    background-color: tomato;
    border: 1px solid coral;
    color: #FFF;
    width: 150px;
    margin-left: 350px;
    font-weight: 500;
    font-size: 13px;
    letter-spacing: 0.5px;
}
.vac_toevoegen_textareas h4 {
    display: block;
    margin: 20px 0 5px 0;
}
.vac_toevoegen_textareas textarea {
    width: 500px;
    height: 200px;
}
.vac_toevoegen_textareas #tags {
    width: 500px;
    height: 25px;
    padding: 5px;
}
.vac_toevoegen input#toevoegen {
    background-color: tomato;
    border: 1px solid coral;
    color: #FFF;
    width: 500px;
    font-weight: 500;
    font-size: 13px;
    letter-spacing: 0.5px;
    height: 50px;
}

/* WACHTWOORD AANPASSEN */
.edit_password h4 {
    display: inline-block;
    width: 250px;
    margin-bottom: 10px;
}
.edit_password input {
    display: inline-block;
    width: 250px;
}
.edit_password input#submit {
    background-color: tomato;
    border: 1px solid coral;
    color: #FFF;
    width: 150px;
    margin-left: 350px;
    font-weight: 500;
    font-size: 13px;
    letter-spacing: 0.5px;
}


/* CONTACT */
.contact_formulier h4 {
    display: inline-block;
    width: 150px;
    padding: 6px;
    margin: 7px 0; 
}
.contact_formulier input, .contact_formulier textarea {
    display: inline-block;
    width: 300px;
    border: 1px solid #DDD;
    background-color: #F5F5F5;
    padding: 6px;
    margin: 10px 0; 
    float: right;
}
.contact_formulier input#submit {
    background-color: tomato;
    border: 1px solid coral;
    color: #FFF;
    width: 315px;
    font-weight: 300;
    text-transform: uppercase;
    float: right;   
}
.message_send {
    color: #888;
    font-size: 11px;
    font-style: italic;
    letter-spacing: 1px;
    padding: 0 15px;
}

/* ALGEMENE VOORWAARDEN */
.alg_vw, .pr_bel {
    line-height: 17px;
}
.alg_vw h2, .pr_bel h2 {
    font-size: 14px;
    margin-top: 15px; 
}

/* ADMIN */
.menu_admin {
    height: 80px;
    padding: 5px 0px;
    background-color: cornflowerblue;
    font-size: 10px;
    color: rgba(255, 255, 255, 0.3);
    letter-spacing: 0.8px;
    text-align: right;
}
.logo_admin {
    height: 60px;
    float: left;
    margin-top: 10px;
    padding: 0;
}
.menu_admin p {
    margin: 20px 0px 20px 20px;
    padding: 10px 14px;
    font-size: 14px;
    letter-spacing: 2px;
    text-transform: uppercase;
    display: inline-block;
}
.menu_admin a {
    color: rgba(255, 255, 255, 0.7);
}
.menu_admin a:hover {
    color: #FFF;
}
.admin_button {
    width: 260px;
    height: 100px;
    text-align: center;
    background-color: tomato;
    opacity: 0.9;
    display: inline-block;
    margin: 30px;
    color: white;
    text-transform: uppercase;
    font-size: 18px;
    letter-spacing: 2px;
    line-height: 100px;
}
.admin_button:hover {
    opacity: 1;
}
.button_center {
    margin: 0;
}
.admin_titel {
    color: #FFF;
    background-color: rgba(255, 255, 255, 0);
    border-radius: 3px;
    border: 1px solid white;
    float: left;
}
.admin .info {
    color: #888;
    font-size: 11px;
    text-align: left;
    font-style: italic;
    letter-spacing: 1px;
    padding: 0 15px;
}
.admin .bekijk_profiel {
    display: inline-block;
    width: 140px;
    font-size: 10px;
    text-transform: uppercase;
    padding: 0px;
    border-radius: 3px;
    background-color: tomato;
    color: white;
    text-align: center;
    margin-top: -5px;
    opacity: 0.9;
}
.admin .bekijk_profiel:hover {
    opacity: 1;
}
.admin .bekijk_vacature {
    display: inline-block;
    width: 130px;
    font-size: 10px;
    text-transform: uppercase;
    border-radius: 3px;
    background-color: tomato;
    color: white;
    text-align: center;
    margin-left: 15px;
}
.account {
    background-color: #F0F0F0;
    padding: 15px;
    margin: 12px 0px;
    height: 70px;
}
.account h4 {
    display: inline-block;
}
.account_info {
    margin: 0 0 6px 0; 
    color: #999;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 11px;
    letter-spacing: 0.5px;
}
.account img {
    height: 70px;
    width: 70px;
    float: left;
    margin: 0 10px 0 0;
}
.admin .vac_mini {
    height: 90px;
}
.admin .vac_mini_beschr {
    width: 600px;
}
.account .pending_yes, .account .decline {
    height: 65px;
    width: 70px;
    float: right;
    font-size: 60px;
    border-radius: 4px;
    text-align: center;
    padding-top: 5px;
}
.account .pending_yes {
    background-color: palegreen;
    color: #FFF;
}
.account .pending_yes:hover {
    background-color: limegreen;
    color: #FFF;
}
.account .decline {
    background-color: #aaa;
    color: #FFF;
}
.account .decline:hover {
    background-color: #444;
    color: #FFF;
}



/* ------------------------------ *\
    VASTE ELEMENTEN
\* ------------------------------ */
/* LOGIN POP-UP */
.login_outer {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 100%;
    z-index: 9999;
    display: none;
}
.login {
    position: fixed;
    width: 400px;
    height: 380px;
    top: 20%;
    right: 0;
    left: 0;
    margin-right: auto;
    margin-left: auto;
    background-color: white;
    z-index: 99999;
    text-align: center;
    border: 1px solid lightgray;
}

.login h2 {
    margin-top: 40px;
    font-size: 30px;
}

.login_box {
    width: 300px;
    height: 45px;
    padding: 5px;
    margin-top: 10px;
}

.login_button {
    width: 300px;
    height: 45px;
    padding: 5px;
    margin-top: 30px;
    background-color: tomato;
    border: none;
    color: white;
    font-size: 18px;
    border-bottom: 3px solid A6402E;
    cursor: pointer;
}

i.fa-times{
    margin: 10px;
    float: right;
    cursor: pointer;    
}

/* COMPACTE WEERGAVE VACATURE EN BERICHT */
.vac_mini, .ber_mini {
    background-color: #F0F0F0;
    padding: 15px;
    margin: 12px 0px;
}
.vac_mini_info, .ber_mini_info {
    margin: 0 0 6px 0; 
    color: #999;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 9px;
    letter-spacing: 0.5px;
}
.vac_mini_beschr, .ber_mini_beschr {
    margin: 6px 0;
    padding: 0;
    font-size: 11px;
    line-height: 16px;
    text-align: justify;
    color: #555;
}
.delete {
    float: right;
    padding: 6px;
    color: #888;
}
.delete:hover {
    color: #444;
}

/* MAREKS VERANDERINGEN */
.button_beant {
    width: 150px;
    height: 25px;
    padding: 6px;
    background-color: tomato;
    border: none;
    color: white;
    font-size: 12px;
    border-bottom: 3px solid #A6402E;
    cursor: pointer;
}

.button_beant:hover {
    background-color: #B6402E;
    border-bottom: 3px solid tomato;
    color: lightgray;
}

.textarea_beant {
    width: 100%;
    border: 1px solid #DDD;
    background-color: #F5F5F5;
    padding: 6px;
    margin: 10px 0; 
    float: left;
    font-family: 'Open Sans', sans-serif;
}

main .inbox a {
    margin-right: 15px;
}

main .inbox a:active, main .inbox a:hover {
    color: tomato;
}

.ber_mini h4.klikt {
    cursor: pointer
}

.toInbox {
    cursor: pointer;
}

.toSend {
    cursor: pointer;
}

.reageren {
    cursor: pointer;
}

.beantwoorden {
    display: none;
}

#beantwoord {
    padding: 8px;    
}

.reageren_button {
    display: block;
    background-color: tomato;
    border: none;
    color: white;
    padding: 10px;
    margin-top: 10px;
    cursor: pointer;
}

.wachtwoord_vergeten {
    float: left;
    font-weight: 300;
}

.wachtwoord_vergeten:hover {
    text-decoration: underline;
}
.vergeten_div {
    font-weight: 700;
    font-size: 13px;
    width: 100%;
    padding-top: 30px;
}

.profiel_face {
    display: inline-block;
    float: right;
}

.profiel_face_img {
    border: 3px solid #fff;
    width: 140px;
    height: 140px;
}